.Rproj.user
.Rhistory
.RData
.Ruserdata
processed-data/Files_For_Upload/Archive/*
processed-data/Files_For_Upload/Panel_Design_Files.zip
raw-data/*
processed-data/Regression_stats/*
processed-data/Pseudobulk_SCE/*
processed-data/DE_Testing/*
processed-data/02_build_spe/*
processed-data/Sample_Info_NAcXenium.csv
plots/03_qc/*.pdf
plots/03_qc/Sample_Specific_Outliers/*
processed-data/Xenium_QC/
plots/06_label_transfer/Br6660*
processed-data/06_label_transfer/
plots/02_build_spe/
plots/06_label_transfer/
processed-data/05_Clustering/Banksy_clusters.csv
plots/03_qc/archive_R_4.4
code/03_QC/logs/qc*
processed-data/05_Clustering/Banksy_clusters_R_4.4.csv
processed-data/05_Clustering/STAligner_initial_r0_mclust20.csv
processed-data/05_Clustering/STAligner_initial_r15_mclust20.csv
plots/05_clustering/Banksy/*
processed-data/05_Clustering/*
plots/05_clustering/*
**/archive*/
**/202509/
