.Rproj.user
.Rhistory
.RData
.Ruserdata
xenium_NAC_collab/*
processed-data/Files_For_Upload/Archive/*
processed-data/Files_For_Upload/Panel_Design_Files.zip
raw-data/*
processed-data/Regression_stats/*
processed-data/Pseudobulk_SCE/*
processed-data/DE_Testing/*
processed-data/02_build_spe/*
processed-data/Sample_Info_NAcXenium.csv
plots/03_qc/*.pdf
plots/03_qc/Sample_Specific_Outliers/*
processed-data/Xenium_QC/
plots/06_label_transfer/Br6660*
processed-data/06_label_transfer/
plots/02_build_spe/
plots/06_label_transfer/
processed-data/05_Clustering/Banksy_clusters.csv
plots/03_qc/archive_R_4.4
code/03_QC/logs/qc*
processed-data/05_Clustering/Banksy_clusters_R_4.4.csv
processed-data/05_Clustering/STAligner_initial_r0_mclust20.csv
processed-data/05_Clustering/STAligner_initial_r15_mclust20.csv
plots/05_clustering/Banksy/*
processed-data/05_Clustering/*
plots/05_clustering/*
**/archive*/
**/202509/
processed-data/Day_Lab_Panel/*
processed-data/HD/*
processed-data/WM_pairwise_DEGs.Rds
processed-data/spatial_registration/*
plots/HD_Full_Analysis/*
processed-data/01_spaceranger/H1-M3TCP9V_A1/outs/binned_outputs/square_008um/spatial/tissue_positions.csv
processed-data/01_spaceranger/H1-M3TCP9V_D1/outs/binned_outputs/square_008um/spatial/tissue_positions.csv
processed-data/01_spaceranger/H1-XKYDCP3_A1/outs/binned_outputs/square_008um/spatial/tissue_positions.csv
processed-data/01_spaceranger/H1-XKYDCP3_D1/outs/binned_outputs/square_008um/spatial/tissue_positions.csv
processed-data/HD_Full_Analysis/*
plots/Figure1/*
processed-data/CellType_Cols_v2.Rds
processed-data/02_FICTURE/*
processed-data/NHP_Data/*
processed-data/MetaNeighbor/*
plots/Triple_Positive/*
code/Triple_Positive_Exploration.R
code/08_Visium_HD/01_buildSPEs/11_add_area.R
code/08_Visium_HD/01_buildSPEs/11_add_area.sh
plots/rat_NMF/*
plots/rat_nmf/*
plots/rat_nmf_supp_figure/*
code/HD/*
code/NAc_snm3C-Seq_human/*
code/Rplots.pdf
plots/05_Xenium_alignment/*
plots/09_spatial_gradient/*
plots/10_Xenium_CRAWDAD/*
plots/11_Xenium_VisiumHD_alignment/*
plots/nmf_patterns_rat_mouse/*
processed-data/01_spaceranger/H1-8MTH2TQ_A1/outs/binned_outputs/square_008um/spatial/tissue_positions.csv
processed-data/01_spaceranger/H1-8MTH2TQ_D1/outs/binned_outputs/square_008um/spatial/tissue_positions.csv
processed-data/01_spaceranger/H1-XNQ4F2B_A1/outs/binned_outputs/square_008um/spatial/tissue_positions.csv
processed-data/01_spaceranger/H1-XNQ4F2B_D1/outs/binned_outputs/square_008um/spatial/tissue_positions.csv
processed-data/05_Xenium_alignment/*
processed-data/09_spatial_gradient/*
processed-data/10_Xenium_CRAWDAD/*
processed-data/11_Xenium_VisiumHD_alignment/*
processed-data/12_submission/*
processed-data/13_app/*
processed-data/14_samui/*
processed-data/NAc_snm3C-Seq_human/*
processed-data/NMF_CellTypes.csv
processed-data/mouse_xenium/*
processed-data/rat_NMF/*
code/Drug_Discovery/*
**/__pycache__/*
**/Archive/*
code/05_clustering/Harmony/*
code/09_spatial_gradient/nmf_gene/
code/09_spatial_gradient/spatial_gene_regression/D1_marker_source_snapshot.csv
code/09_spatial_gradient/spatial_gene_regression/README.md
**/test*/*
code/05_clustering/Harmony/01_harmony.py
code/16_scDRS/scDRS_pipeline_summary.*
code/16_scDRS/scDRS_pipeline_summary_files/*
plots/16_scDRS/H1*
processed-data/16_scDRS/*
processed-data/17_drug_analysis/*
